label {
    display: block;
    
    font:
    1rem 'arial',
    sans-serif;
}
input,
label {
    margin: 0.4rem;
}
#video {
    width: 400;
    height: 400;
}
#canvas {
    width: 400 ;
    height: 400;
}